<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>一路新材</title>   
    <!-- Bootstrap -->
    <link href="../bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container" style="background:#C0C0C0;">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-left" style="color:#ee4433;">一路新材后台管理系统</h1>
            </div>
        </div>
    </div>
    <div class="container" style="background:#e1e1e1;">
        <div class="row" style="margin-top:100px;">
            <div class="col-md-6">
                <button class="btn btn-success  wx-type" style="width:80%;margin-left:9%;">商品种类入口</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-success" style="width:80%;margin-left:9%;">商品种类入口</button>
            </div>
        </div>
        <div class="row" style="margin-top:30px;">
            <div class="col-md-6">
                <button class="btn btn-success" style="width:80%; margin-left:9%;">商品种类入口</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-success" style="width:80%; margin-left:9%;">商品种类入口</button>
            </div>
        </div>
        <div class="row" style="margin-top:30px;">
            <div class="col-md-6">
                <button class="btn btn-success" style="width:80%; margin-left:9%;">商品种类入口</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-success" style="width:80%; margin-left:9%;">商品种类入口</button>
            </div>
        </div>
        <div class="row" style="margin-top:30px;">
            <div class="col-md-6">
                <button class="btn btn-success" style="width:80%; margin-left:9%;">商品种类入口</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-success" style="width:80%; margin-left:9%;">商品种类入口</button>
            </div>
        </div>
        <div class="row" style="margin-top:30px;margin-bottom:100px;">
            <div class="col-md-6">
                <button class="btn btn-success" style="width:80%; margin-left:9%;">商品种类入口</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-success" style="width:80%; margin-left:9%;">商品种类入口</button>
            </div>
        </div>
    </div>
   
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="../js/jquery-2.1.4.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.wx-type').click(function () {
                // console.log('nihao')
                location.href = "type";
            })
        })
    </script>
</body>
</html>
