<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>一路新材</title>   
    <!-- Bootstrap -->
    <link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <!--你自己的样式文件 -->
    <link href="css/aboutUs.css" rel="stylesheet">
    <!-- 分页css引入 -->
    <link rel="stylesheet" href="css/pageCode.css" />
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- 引入页头插件 -->
    <div id="wx-header"></div>
    <div style="height:20px;"></div>
  
    <!-- 主体内容 s-->
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="photos/pic.png">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 wx-content">
                    <p>
                        一路新材是与中国沥青网联合打造的路面新材领域最专业的B2B电子商务交易交流平台，专注于道路基础设施建设的新型材料供应，为客户提供信息、交易、供应链、金融等服务，通过市场化手段加强路面新材产业链各环节的联系及合作，培育路面新材垂直领域的产业生态圈。
                    </p>
                    <p>
                        一路新材首期推出沥青现货交易平台，构建交易、资讯、金融与供应链管理四大功能板块，采取商城、团购、竞拍等多样交易方式，满足供需双方不同的交易需求，同时根据交易双方的需求，提供物流匹配、供应链融资等增值服务。本着公平、公正、高效的服务理念，平台竭诚欢迎各沥青生产商、贸易商、道路施工企业、搅拌站等供需双方入驻。
                    </p>
                    <p>
                        在未来，一路新材还将推出更为丰富的产品，提供更为多样的贴心服务，敬请新老用户关注。
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- 主体内容 e-->

    <!-- 查询框end -->
    <div style="height:20px;"></div>
    <!-- 引入页尾插件 -->
    <div id="wx-footer"></div>
  	<!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
  	<script src="js/jquery-2.1.4.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <!-- 引入头文件 -->
    <script src="js/header.js"></script>
    <!-- 引入页尾文件 -->
    <script src="js/footer.js"></script>
    <!-- 引入自身文件 -->
    <script src="js/aboutUs.js"></script>
    <!-- 百度自动推送 -->
    <script>
    (function(){
        var bp = document.createElement('script');
        bp.src = '//push.zhanzhang.baidu.com/push.js';
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
    </script>
    <!-- 百度站长工具代码 -->
    <meta name="baidu-site-verification" content="hw1iRdWto4" />
    <!-- 站长工具代码 -->
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257353670'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1257353670%26show%3Dpic2' type='text/javascript'%3E%3C/script%3E"));
    </script>
</body>
</html>
