<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>一路新材</title>   
    <!-- Bootstrap -->
    <link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <!--你自己的样式文件 -->
    <link href="css/buyer_chat.css" rel="stylesheet">
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        #messages li:nth-child(odd) { background: #eee; }
        #messages li { padding: 5px 0px; }
        #messages { list-style-type: none; margin: 0; padding: 0; }
    </style>
</head>
<body>
    <!-- 引入页头插件 -->
    <div id="wx-header"></div>
    <div style="height:20px;"></div>
    
    <!-- 主体内容 -->
    <div>
        <div class="container wx-main">
            <div class="row">
                <div class="col-md-12">
                    <p class="wx-p">我的办公室</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 wx-a">
                    <div id="wx-sideBar"></div>            
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
                            <p>订单详情</p>
                            <hr style="color:red;height:2px;">
                        </div>
                    </div>
                    <!-- 内容 s -->
                    <div class="row">
                    	<div style="col-md-12">
                        	<!-- 表格开始 -->
                                <table class="table table-bordered table-striped text-center" id="wx-table">
                                    <tbody>
                                        <tr class="wx-red">
                                            <td>公司名称</td>
                                            <td>商品</td>                   
                                            <td>订单状态</td>
                                            <td>购买单位</td>
                                            <td>购买数量</td>
                                            <td>购买单价</td>                   
                                            <td>购买总额</td>
                                            <td>交货方式</td>
                                        </tr>
                                        <tr>
                                            <td id="wx-1">卢淑君供应公司</td>
                                            <td id="wx-2">高粘度改</td>                   
                                            <td id="wx-3">洽谈中</td>
                                            <td id="wx-4">吨</td>
                                            <td id="wx-5">2000.00</td>
                                            <td id="wx-6">1000.00</td>                   
                                            <td id="wx-7">2000000</td>
                                            <td id="wx-8">买方自提</td>
                                        </tr>
                                        <tr class="wx-red">
                                            <td>包装方式</td>
                                            <td>议价形式</td>
                                            <td>付款方式</td>
                                            <td>运输方式</td>                   
                                            <td>交货地点</td>
                                            <td>剩余需求量</td>
                                            <td colspan="2">交货日期</td>
                                        </tr>
                                        <tr>
                                            <td id="wx-9">散装</td>
                                            <td id="wx-10">可议价</td>
                                            <td id="wx-11">货到付款</td>
                                            <td id="wx-12">铁路</td>                   
                                            <td id="wx-13">重庆</td>
                                            <td id="wx-14">29998</td>
                                            <td id="wx-15" colspan="2">2015-08-29-2015-09-29</td>
                                        </tr>
                                    </tbody>
                                </table>
                            <!-- 表格结束 -->
                        </div>
                    </div>
                    <!-- 内容e -->
                    <!-- chat s -->
                    <!-- chat warning -->
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center wx-warning"><span class="text-warning">温馨提醒：</span>合同中商品价格及数量以聊天最终价格为定！</p>
                        </div>
                    </div>
                    <!-- chat e -->
                    <!-- 聊天框 s -->
                    <div class="row">
                        <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
                            <div class="wx-chat_title"><span>一路新材聊天室</span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 wx-frame" style="padding:0px;">
                            <!-- 此处为聊天信息 -->
                            <ul id="messages"></ul>
                        </div>
                    </div>
                    <!-- 聊天框 e -->
                    <div style="height:20px;"></div>
                    <!--信息发送s -->
                    <div class="row">
                        <form action="javascript:void(0)" class="form-inline">
                            <div class="col-md-10" style="padding-left:0px;">
                                <input type="text" class="form-control" style="width:100%;height:40px;" placeholder="输入聊天信息" 
                                id="wx-message0" autocomplete="off">
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-success" style="width:100%;" id="wx-send">发送</button>
                            </div>
                        </form>
                    </div>
                    <div style="height:20px;"></div>
                    <div class="row">
                        <div class="col-md-12" style="padding-left:0px;">
                            <p style="color:red;" id="wx-21">单价和数量必须是整数!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10" style="padding-left:0px;">
                            <form class="form-inline">
                                <div class="col-md-4" style="padding-left:0px;">
                                    <div class="form-group">
                                        <label for="wx-price">单价</label>
                                        <input type="text" class="form-control" id="wx-18" placeholder="输入目标单价" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-4" style="padding-left:0px;">
                                    <div class="form-group">
                                        <label for="wx-number">数量</label>
                                        <input type="text" class="form-control" id="wx-19" placeholder="输入目标数量" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="wx-remark">备注</label>
                                        <input type="text" class="form-control" id="wx-20" placeholder="输入备注" autocomplete="off">
                                    </div>
                                </div>
                            </form>   
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-success" style="width:100%;" id="wx-order">订单最终确认</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 主体内容 -->

    <!-- 查询框end -->
    <div style="height:20px;"></div>
    <!-- 引入页尾插件 -->
    <div id="wx-footer"></div>
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="js/jquery-2.1.4.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调-->
    <script src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <!-- chatroom -->
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <!-- 引入头文件 -->
    <script src="js/header.js"></script>
    <!-- 引入页尾文件 -->
    <script src="js/footer.js"></script>
    <!-- 引入页尾文件 -->
    <script src="js/side_bar.js"></script>
    <!-- 引入自己文件 -->
    <script src="js/buyer_chat.js"></script>
    <!-- 百度自动推送 -->
    <script>
    (function(){
        var bp = document.createElement('script');
        bp.src = '//push.zhanzhang.baidu.com/push.js';
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
    </script>
    <!-- 百度站长工具代码 -->
    <meta name="baidu-site-verification" content="hw1iRdWto4" />
    <!-- 站长工具代码 -->
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257353670'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1257353670%26show%3Dpic2' type='text/javascript'%3E%3C/script%3E"));
    </script>
</body>
</html>
