<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>一路新材</title>   
    <!-- Bootstrap -->
    <link href="../bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <!--你自己的样式文件 -->
    <link href="css/contract_text.css" rel="stylesheet">
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- 引入页头插件 -->
    <div id="wx-header"></div>
    <div style="height:20px;"></div>
    <!-- 主体内容 -->
    <div>
        <div class="container" id="print">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center wx-p">产品销售合同</p>
                </div>
            </div> 
            <!-- 右三 -->
            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-3">
                    <div class="wx-three">
                        <span class="wx-blod">合同编号&#58;</span>
                        <span class="wx-underline" id="wx-1">20151014103941</span>
                    </div>
                    <div class="wx-three">
                        <span class="wx-blod">签订地点&#58;</span>
                        <span class="wx-underline">沥青网签约</span>
                    </div>
                    <div class="wx-three">
                        <span class="wx-blod">签订时间&#58;</span>
                        <span class="wx-underline" id="wx-2">2015-10-14 10:39:41</span>
                    </div>
                </div>
            </div>
            左二
            <div class="row">
                <div class="col-md-3">
                    <div class="wx-three">
                        <span class="wx-blod">出卖人&#58;</span>
                        <span class="wx-underline" id="wx-3">nihao1</span>
                    </div>
                    <div class="wx-three">
                        <span class="wx-blod">买受人&#58;</span>
                        <span class="wx-underline" id="wx-4">20151014103941</span>
                    </div>   
                </div>
                <div class="col-md-9"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p><span class="wx-blod">第一条</span>&#32;产品名称、数量、价款、交（提）货时间</p>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>产品名称&#40;规格&#41;</td>
                                <td>数量&#40;<span style="color:red;">吨</span>&#41;</td>
                                <td>含税单价&#40;元&#41;</td>
                                <td>含税总金额&#40;<span style="color:red;">元</span>&#41;</td>
                                <td>交&#40;提&#41;货时间</td>
                            </tr>
                            <tr>
                                <td id="wx-5">SBS改性沥青I-B</td>
                                <td id="wx-6">1100.00</td>
                                <td id="wx-7">1300.00</td>
                                <td id="wx-8">1430000</td>
                                <td id="wx-9">2015-10-05-2015-10-30</td>
                            </tr>
                            <tr>
                                <td colspan=5>人民币总金额合计&#40;大写&#41;&#58;<span id="wx-10">壹佰肆拾叁万圆整</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p><span class="wx-blod">第二条&#32;质量标准</span>&#58;执行行业JTG F40-2004质量标准或另有约定的除外&#46;</p>
                    <p><span class="wx-blod">第三条&#32;包装标准</span>&#58;<span class="wx-underline" id="wx-11">散装</span>&#46;</p>
                    <p><span class="wx-blod">第四条&#32;交货地点</span>&#58;<span class="wx-underline" id="wx-12">台州市</span>&#46;</p>
                    <p><span class="wx-blod">第五条&#32;运输方式</span>&#58;<span class="wx-underline" id="wx-13">公路</span>&#46;</p>
                    <p><span class="wx-blod">第六条&#32;结算方式</span>&#58;<span class="wx-underline" id="wx-14">货到付款</span>&#46;</p>
                    <p><span class="wx-blod">第七条&#32;验收方法</span>&#58;买受人应在货物交付之日及时按本合同第二条约定的标准组织验收。买受人关于产品质量、数量方面
                    的异议必须在运输产品的交通工具驶离出卖人码头&#40;工厂&#41;前向出卖人书面提出&#46;</p>
                    <p><span class="wx-blod">第八条&#32;违约责任</span>&#58;</p>
                    <p><span class="wx-blod">1.&#32;</span>出卖人不能按时交货&#40;检修停产等生产原因除外&#41;或买受人逾期提货&#40;
                        出卖人书面同意除外&#41;，应按不能交货或逾期提货部分货款总值5%支付违约金&#46;</p>
                    <p><span class="wx-blod">2.&#32;</span>买受人须于合同约定的付款期限内付清货款&#44;到期未结清的按银行同期贷款利率延期15天&#44;
                        再不结清的按银行同期贷款利率的2倍承担违约责任&#46;</p>
                    <p><span class="wx-blod">第九条&#32;合同争议的解决方式</span>&#58;合同在履行过程中发生的争议&#44;由双方当事人协商解决；
                        协商不成的&#44;依法向出卖人所在地人民法院提起诉讼&#46;</p>
                    <p><span class="wx-blod">第十条&#32;违约责任</span>&#58;</p>
                    <p><span class="wx-blod">1.&#32;</span>货物所有权自交付时起转移&#44;但买受人未履行支付价款义务的&#44;
                        货物仍属于出卖人所有&#46;货物的风险责任自货物出库时起&#40;出卖人仓库或储罐&#41;转移由买受人承担&#46;</p>
                    <p><span class="wx-blod">2.&#32;</span>买受人需具备经营本合同标的物的相应资质&#44;
                        如因买受人提供虚假资质证明或不具备相应资质而使出卖人受到损失&#44;买受人应为此承担责任&#46;</p>
                    <p><span class="wx-blod">3.&#32;</span> 标的物系危险品并系买受人提货时&#44;买受人提货必须符合国家危险品运输规定&#46;
                        否则&#44;由此导致出卖人损失的&#44;买受人应承担全部赔偿责任&#46;</p>
                    <p><span class="wx-blod">4.&#32;</span>对于委托代运产品&#44;买受人必须提供书面委托&#44;写明货物数量、
                        到站和专用线名称、收货人等&#44;出卖人依据买受人书面委托办理代运&#46;</p>
                    <p><span class="wx-blod">5.&#32;</span>买受人以银行承兑汇票方式付款&#44;若汇票到期被拒绝付款&#40;出卖人自身原因除外&#41;&#44;则买受人应无条件以现金方式立即付清等额款项&#44;出卖人保留按本合同约定追究逾期付款利息的权利&#46;后续追索事宜&#44;概由买受人负责处理&#44;出卖人予以协助&#46;</p>
                    <p><span class="wx-blod">第十一条&#32;</span>本合同自双方签字盖章起生效&#46;本合同一式2份&#44;双方各执1份&#46;
                        本合同可以传真方式签约&#44;双方同意合同传真件和合同原件具有同等法律效力&#46;</p>
                </div>
            </div>
            <!--
            <div class="row">
                <div class="col-md-5">
                    <p class="wx-blod">出卖人&#58;&#40;盖章&#41;</p>
                    <img src="" width="200px" height="150px" id="wx-15">
                    <div class="wx-three">
                        <span class="wx-blod">法定代表人&#40;负责人&#41;&#58;</span>
                        <span class="wx-underline" id="wx-16">杨光宇</span>
                    </div>
                    <div class="wx-three">
                        <span class="wx-blod">委托代理人&#58;</span>
                        <span class="wx-underline" id="wx-17">小杨</span>
                    </div>
                    <div class="wx-three">
                        <span class="wx-blod">开户银行&#58;</span>
                        <span class="wx-underline" id="wx-18">建设银行</span>
                    </div>
                    <div class="wx-three">
                        <span class="wx-blod">账号&#58;</span>
                        <span class="wx-underline" id="wx-19">123545353456535353</span>
                    </div>
                </div>
                <div class="col-md-5">
                    <p class="wx-blod">买受人&#58;&#40;盖章&#41;</p>
                    <img src="" width="200px" height="150px" id="wx-20">
                    <div class="wx-three">
                        <span class="wx-blod">法定代表人&#40;负责人&#41;&#58;</span>
                        <span class="wx-underline" id="wx-21">杨光宇</span>
                    </div>
                    <div class="wx-three">
                        <span class="wx-blod">委托代理人&#58;</span>
                        <span class="wx-underline" id="wx-22">小杨</span>
                    </div>
                    <div class="wx-three">
                        <span class="wx-blod">开户银行&#58;</span>
                        <span class="wx-underline" id="wx-23">建设银行</span>
                    </div>
                    <div class="wx-three">
                        <span class="wx-blod">账号&#58;</span>
                        <span class="wx-underline" id="wx-24">123545353456535353</span>
                    </div>`
                </div>
            </div>
            -->
            <div style="width:1039px;height:300px;">
                <div class="kuang">
                    <p class="wx-blod">出卖人&#58;&#40;盖章&#41;</p>
                    <img src="" width="200px" height="150px" id="wx-15">
                    <div class="wx-three">
                        <span class="wx-blod">法定代表人&#40;负责人&#41;&#58;</span>
                        <span class="wx-underline" id="wx-16">杨光宇</span>
                    </div>
                    <div class="wx-three">
                        <span class="wx-blod">委托代理人&#58;</span>
                        <span class="wx-underline" id="wx-17">小杨</span>
                    </div>
                    <div class="wx-three">
                        <span class="wx-blod">开户银行&#58;</span>
                        <span class="wx-underline" id="wx-18">建设银行</span>
                    </div>
                    <div class="wx-three">
                        <span class="wx-blod">账号&#58;</span>
                        <span class="wx-underline" id="wx-19">123545353456535353</span>
                    </div>
                </div>
                <div class="kuang">
                    <p class="wx-blod">买受人&#58;&#40;盖章&#41;</p>
                    <img src="" width="200px" height="150px" id="wx-20">
                    <div class="wx-three">
                        <span class="wx-blod">法定代表人&#40;负责人&#41;&#58;</span>
                        <span class="wx-underline" id="wx-21">杨光宇</span>
                    </div>
                    <div class="wx-three">
                        <span class="wx-blod">委托代理人&#58;</span>
                        <span class="wx-underline" id="wx-22">小杨</span>
                    </div>
                    <div class="wx-three">
                        <span class="wx-blod">开户银行&#58;</span>
                        <span class="wx-underline" id="wx-23">建设银行</span>
                    </div>
                    <div class="wx-three">
                        <span class="wx-blod">账号&#58;</span>
                        <span class="wx-underline" id="wx-24">123545353456535353</span>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-2">
                <p id="wx-tishi" style="color:red;"></p>
            </div>
            <div class="col-md-2" >
                <button type="button" class="btn btn-success" style="float:right;" id="wx-btn">同意签订合同</button>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-info" id="wx-print">打印</button>
            </div>
        </div>
    </div>
    <!-- 主体内容 -->
    <!-- 查询框end -->
    <div style="height:20px;"></div>
    <!-- 引入页尾插件 -->
    <div id="wx-footer"></div>
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="js/jquery-2.1.4.min.js"></script>
    <!-- print -->
    <script src="http://code.jquery.com/jquery-migrate-1.1.0.js"></script>
    <script src="js/jquery.jqprint-0.3.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <!-- 引入头文件 -->
    <script src="js/header.js"></script>
    <!-- 引入页尾文件 -->
    <script src="js/footer.js"></script>
    <!-- 引入自己文件 -->
    <script src="js/contract_text.js"></script>
    <!-- 百度自动推送 -->
    <script>
    (function(){
        var bp = document.createElement('script');
        bp.src = '//push.zhanzhang.baidu.com/push.js';
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
    </script>
    <!-- 百度站长工具代码 -->
    <meta name="baidu-site-verification" content="hw1iRdWto4" />
    <!-- 站长工具代码 -->
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257353670'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1257353670%26show%3Dpic2' type='text/javascript'%3E%3C/script%3E"));
    </script>
</body>
</html>
