<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>一路新材</title>   
    <!-- Bootstrap -->
    <link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <!--你自己的样式文件 -->
    <link href="css/express.css" rel="stylesheet"> 
    <!-- 分页css引入 -->
    <link rel="stylesheet" href="css/pageCode.css" />
    <!-- 轮动css央视引入结束 -->
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- 头文件引入 -->
    <div id="wx-header"></div>
    <!-- 头文件引入结束 -->

    <!-- 标题s -->
    <div style="margin-top:20px;">
        <div class="container">
           <div class="row">
              <div class="col-md-10" style="padding-left:0px;">
                <span class="wx-tag">物流信息列表</span>
              </div>
              <div class="col-2">
                  <a type="button" class="btn btn-primary" 
                  href="expressRelase.html" target="__self">发布信息详情</a>
              </div>
            </div>
        </div>  
    </div>
    <!-- 标题e -->

    <!-- table s -->
    <div style="margin-top:30px;">
      <div class="container">
        <div class="row">
          <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
            <!-- 表格开始 -->
            <table class="table table-bordered table-striped table-hover text-center" id="wx-table">
                <caption>
                    <!-- <span class="wx-tag">商品信息</span> -->
                </caption>
                <thead>
                    <tr>
                        <td>公司名称</td>
                        <td>始发地</td>
                        <td>目的地</td>                           
                        <td>车载重&#40;吨&#41;</td>
                        <td>车体积&#40;立方米&#41;</td>
                        <td>车型号</td>
                        <td>发车时间</td>
                        <td>联系电话</td>                       
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>海法运输</td>
                        <td>天津</td>
                        <td>成都</td>
                        <td>40.00</td>
                        <td>40.00</td>
                        <td>e335</td>
                        <td>2015-11-02</td>
                        <td>18051776542</td>
                    </tr>
                    <tr>
                        <td>海法运输</td>
                        <td>天津</td>
                        <td>成都</td>
                        <td>40.00</td>
                        <td>40.00</td>
                        <td>e335</td>
                        <td>2015-11-02</td>
                        <td>18051776542</td>
                    </tr>
                    <tr>
                        <td>海法运输</td>
                        <td>天津</td>
                        <td>成都</td>
                        <td>40.00</td>
                        <td>40.00</td>
                        <td>e335</td>
                        <td>2015-11-02</td>
                        <td>18051776542</td>
                    </tr>
                    <tr>
                        <td>海法运输</td>
                        <td>天津</td>
                        <td>成都</td>
                        <td>40.00</td>
                        <td>40.00</td>
                        <td>e335</td>
                        <td>2015-11-02</td>
                        <td>18051776542</td>
                    </tr>
                    <tr>
                        <td>海法运输</td>
                        <td>天津</td>
                        <td>成都</td>
                        <td>40.00</td>
                        <td>40.00</td>
                        <td>e335</td>
                        <td>2015-11-02</td>
                        <td>18051776542</td>
                    </tr>
                    <tr>
                        <td>海法运输</td>
                        <td>天津</td>
                        <td>成都</td>
                        <td>40.00</td>
                        <td>40.00</td>
                        <td>e335</td>
                        <td>2015-11-02</td>
                        <td>18051776542</td>
                    </tr>
                    <tr>
                        <td>海法运输</td>
                        <td>天津</td>
                        <td>成都</td>
                        <td>40.00</td>
                        <td>40.00</td>
                        <td>e335</td>
                        <td>2015-11-02</td>
                        <td>18051776542</td>
                    </tr>
                    <tr>
                        <td>海法运输</td>
                        <td>天津</td>
                        <td>成都</td>
                        <td>40.00</td>
                        <td>40.00</td>
                        <td>e335</td>
                        <td>2015-11-02</td>
                        <td>18051776542</td>
                    </tr>
                    <tr>
                        <td>海法运输</td>
                        <td>天津</td>
                        <td>成都</td>
                        <td>40.00</td>
                        <td>40.00</td>
                        <td>e335</td>
                        <td>2015-11-02</td>
                        <td>18051776542</td>
                    </tr>
                    <tr>
                        <td>海法运输</td>
                        <td>天津</td>
                        <td>成都</td>
                        <td>40.00</td>
                        <td>40.00</td>
                        <td>e335</td>
                        <td>2015-11-02</td>
                        <td>18051776542</td>
                    </tr>
                </tbody>
            </table>
            <!-- 表格结束 -->
          </div>
        </div>
        <!-- 分页 s -->
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div id="wx-page"></div>
          </div>
          <div class="col-md-3"></div>
        </div>
        <!-- 分页 e -->
      </div>
    </div>
    <!-- table e -->
    
    <!-- 尾部文件引入start -->
    <div id="wx-footer" style="margin-top:40px;"></div>
    <!-- 尾部文件引入结束 -->
	<!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
	<script src="js/jquery-2.1.4.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <!-- 分页js引入 -->
    <script src="js/jquery.page.js"></script>
    <!-- 引入头文件 -->
    <script src="js/header.js"></script>
    <!-- 引入页尾文件 -->
    <script src="js/footer.js"></script>
    <!--自己写的js引入文件 --> 
    <script src="js/express.js"></script>   
</body>
</html>
