<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>一路新材</title>   
    <!-- Bootstrap -->
    <link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <!--你自己的样式文件 -->
    <link href="css/sell.css" rel="stylesheet">
    <!-- 分页css引入 -->
    <link rel="stylesheet" href="css/pageCode.css" />
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- 引入页头插件 -->
    <div id="wx-header"></div>
    <div style="height:20px;"></div>
    <!-- 主体内同部分 -->
    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <img src="photos/zhongjiao1.jpg">
            <img src="photos/zhongjiao2.png">
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </div>
    <!-- 主体内同结束 -->
    <!-- 查询框end -->
    <div style="height:20px;"></div>
    <!-- 引入页尾插件 -->
    <div id="wx-footer"></div>
  	<!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
  	<script src="js/jquery-2.1.4.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <!-- 引入头文件 -->
    <script src="js/header.js"></script>
    <!-- 引入页尾文件 -->
    <script src="js/footer.js"></script>
    <script type="text/javascript">
      $(function() {

        //点击导航的时候提示
        $('#wx-nav > li:eq(4)').addClass('active');
        
      })
    </script>
</body>
</html>
