<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>一路新材</title>   
    <!-- Bootstrap -->
    <link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <!--你自己的样式文件 -->
    <link href="css/sellRelease.css" rel="stylesheet"> 
    <!-- date -->
    <link href="date/css/laydate0.css" rel="stylesheet">
    <link href="date/css/laydate1.css" rel="stylesheet">
    <!-- 轮动css央视引入结束 -->
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- 头文件引入 -->
    <div id="wx-header"></div>
    <!-- 头文件引入结束 -->
    <!-- 标签s -->
    <div style="margin-top:30px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="padding-left:0px;">
                    <span class="wx-tag">我要卖》发布供应</span>
                </div>
            </div>
        </div>
    </div>
    <!-- 标签e -->
    <!-- 提醒 s-->
    <div style="margin-top:20px;">
      <div class="container" style="background:#f3f3f3;">
        <div class="col-md-12">
          <p class="wx-warning text-center text-warning">
            发布需求中带<span>*</span>部分为必填&#33;
            &#40;其中<span>商品品牌</span>和<span>自增品牌</span>必须<span>2选1</span>&#41;
          </p>
        </div>
      </div>
    </div>
    <!-- 提醒 e-->
    <!--查询框s  -->
    <div style="margin-top:10px;">
      <form class="form-horizontal">
        <div class="container" style="background:#f3f3f3;padding-top:30px;padding-bottom:30px;">
          <div class="row">
            <!-- 1.商品种类 -->
            <div class="col-md-5">
              <div class="form-group">
                <label for="wx-kind" class="col-sm-4 control-label">
                  <span style="color:red;">*</span>商品种类&#58;
                </label>
                <div class="col-sm-8">
                  <select class="form-control" id="wx-1" autocomplete="off">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
            <!-- 2. 商品小类-->
            <div class="col-md-5">
              <div class="form-group">
                <label for="wx-type" class="col-sm-4 control-label">
                  <span style="color:red;">*</span>商品小类&#58;
                </label>
                <div class="col-sm-8">
                  <select class="form-control" id="wx-2" autocomplete="off">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
          <div class="row">
            <!-- 3.型号等级-->
            <div class="col-md-5">
              <div class="form-group">
                <label for="wx-grade" class="col-sm-4 control-label">
                  <span style="color:red;">*</span>型号等级&#58;
                </label>
                <div class="col-sm-8">
                  <select class="form-control" id="wx-3" autocomplete="off">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
            <!-- 4.包装方式 -->
            <div class="col-md-5">
              <div class="form-group">
               <label class="col-sm-4 control-label">
                  <span style="color:red;">*</span>包装方式&#58;
                </label>
                <div class="col-sm-8">
                  <select class="form-control" id="wx-4" autocomplete="off">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
          <div class="row">
            <!-- 5.商品品牌 -->
            <div class="col-md-5">
              <div class="form-group">
                <label class="col-sm-4 control-label">
                  <span style="color:red;">*</span>商品品牌&#58;
                </label>
                <div class="col-sm-8">
                  <select class="form-control" id="wx-5-0" autocomplete="off">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <div class="form-group">
                <label class="col-sm-4 control-label">
                  <!-- <span style="color:red;">*</span>-->
                  自增品牌&#58;
                </label>
                <div class="col-sm-8">               
                  <input type="text" class="form-control" id="wx-5-1" 
                  placeholder="请输入品牌" autocomplete="off">
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <!-- 6.单位-->
              <div class="form-group">
                <label class="col-sm-4 control-label">
                  <span style="color:red;">*</span>单位&#58;
                </label>
                <div class="col-sm-8">
                  <select class="form-control" id="wx-6" autocomplete="off">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
            <!-- 7.付款方式 -->
            <div class="col-md-5">
              <div class="form-group">
                <label class="col-sm-4 control-label">
                  <span style="color:red;">*</span>付款方式&#58;
                </label>
                <div class="col-sm-8">
                  <select class="form-control" id="wx-7" autocomplete="off">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
          <!-- e -->
          <!-- s -->
          <div class="row">
            <!-- 8.议价形式 -->
            <div class="col-md-5">
              <div class="form-group">
                <label class="col-sm-4 control-label">
                  <span style="color:red;">*</span>议价形式&#58;
                </label>
                <div class="col-sm-8">
                  <select class="form-control" id="wx-8" autocomplete="off">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
            <!-- 9.交货方式 -->
            <div class="col-md-5">
              <div class="form-group">
                <label class="col-sm-4 control-label">
                  <span style="color:red;">*</span>交货方式&#58;
                </label>
                <div class="col-sm-8">
                  <select class="form-control" id="wx-9" autocomplete="off">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
          <div class="row">
            <!-- 10.最低成交量 -->
            <div class="col-md-5">
              <div class="form-group">
                <label class="col-sm-4 control-label">
                  <span style="color:red;">*</span>最低成交量&#58;
                </label>
                <div class="col-sm-8">               
                  <input type="text" class="form-control wx-input" id="wx-10" 
                  placeholder="请输入最低成交量" autocomplete="off">                
                </div>
              </div>
            </div>
            <div class="col-md-1" style="padding-left:0px;"></div>
            <!-- 11.单价 -->
            <div class="col-md-5">
              <div class="form-group">
                <label class="col-sm-4 control-label">
                  <span style="color:red;">*</span>单价&#58;
                </label>
                <div class="col-sm-8">
                  <div class="input-group">
                    <!-- <div class="input-group-addon">$</div> -->
                    <input type="text" class="form-control wx-input" id="wx-11" placeholder="请输入单价">
                    <div class="input-group-addon" style="color:red;">元</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-1" style="padding-left:0px;"></div>
          </div>
          <div class="row">
            <!-- 12.库存量 -->
            <div class="col-md-5">
              <div class="form-group">
                <label class="col-sm-4 control-label">
                  <span style="color:red;">*</span>库存量&#58;
                </label>
                <div class="col-sm-8">               
                  <input type="text" class="form-control wx-input" id="wx-12" 
                  placeholder="请输入需求量" autocomplete="off">
                </div>
              </div>
            </div>
            <div class="col-md-1" style="padding-left:0px;"></div>
            <!-- 13.提货地点 -->
            <div class="col-md-5">
              <div class="form-group">
                <label class="col-sm-4 control-label">
                  <span style="color:red;">*</span>提货地点&#58;
                </label>
                <div class="col-sm-8">               
                  <input type="text" class="form-control wx-input" id="wx-13" 
                  placeholder="请输入地址" autocomplete="off">                
                </div>
              </div>
            </div>
            <div class="col-md-1" style="padding-left:0px;"></div>
          </div>
          <hr style="background-color:#a4a4a4;height:1px;">
          <div class="row">
            <!-- 14.交货时间 s-->
            <div class="col-md-5">
              <div class="form-group">
                <label class="col-sm-4 control-label">
                  <span style="color:red;">*</span>交货时间&#58;
                </label>
                <div class="col-sm-8">               
                  <input type="text" class="form-control wx-input" id="wx-14-0"  
                  placeholder="交货开始日期" autocomplete="off">
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
            <!-- 16.挂单有效期 s-->
            <div class="col-md-5">
              <div class="form-group">
                <label class="col-sm-4 control-label">
                  <span style="color:red;">*</span>挂单有效期&#58;
                </label>
                <div class="col-sm-8">               
                  <input type="text" class="form-control wx-input" id="wx-16-0"  
                  placeholder="挂单开始日期" autocomplete="off">
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
          <div class="row">
            <!-- 14.交货时间 e-->
            <div class="col-md-5">
              <div class="form-group">
                <label class="col-sm-4 control-label"></label>
                <div class="col-sm-8">               
                  <input type="text" class="form-control wx-input" id="wx-14-1"  
                  placeholder="交货截止日期" autocomplete="off">
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
            <!-- 16.挂单有效期 e-->
            <div class="col-md-5">
              <div class="form-group">
                <label class="col-sm-4 control-label"></label>
                <div class="col-sm-8">               
                  <input type="text" class="form-control wx-input" id="wx-16-1"  
                  placeholder="挂单截止日期" autocomplete="off">
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
          <div class="row">
            <!-- 15.运输方式 -->
            <div class="col-md-5">
              <div class="form-group">
                <label class="col-sm-4 control-label">
                  <span style="color:red;">*</span>运输方式&#58;
                </label>
                <div class="col-sm-8">
                  <select class="form-control" id="wx-15" autocomplete="off">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <!-- 17.商品标准 -->
              <div class="form-group">
                <label class="col-sm-4 control-label">
                  <span style="color:red;">*</span>商品标准&#58;
                </label>
                <div class="col-sm-8">
                  <select class="form-control" id="wx-17" autocomplete="off">
                    <option>标准型</option>
                    <option>加强型</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
          <div class="row">
            <!-- 18.备注  -->
            <div class="col-md-5">
              <div class="form-group">
                <label class="col-sm-4 control-label">备注&#58;
                </label>
                <div class="col-sm-8">               
                  <textarea class="form-control" rows="6" placeholder="备注" 
                  autocomplete="off" id="wx-18"></textarea>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
            <!-- 19.加强型图片 -->
            <div class="col-md-5">
              <div class="form-group" style="display:none;" id="wx-19">
                <label class="col-sm-4 control-label">
                  <span style="color:red;">*</span>技术指标&#58;
                </label>
                <div class="col-sm-8">               
                  <input type="file"  class="wx-input" id="wx-19-0" autocomplete="off" accept="image/jpeg">
                  <div id="wx-19-1"></div>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
          <div class="row" style="margin-top:20px;">
            <div class="col-md-5"></div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary" id="wx-btn">确认发布</button>
            </div>
            <div class="col-md-5"></div>
          </div>
        </div>
      </form>
    </div>
    <!--查询框e -->

    <!-- 尾部文件引入start -->
    <div id="wx-footer" style="margin-top:40px;"></div>
    <!-- 尾部文件引入结束 -->
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="js/jquery-2.1.4.min.js"></script>
    <!-- date -->
    <script src="date/js/laydate.dev.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <!-- 引入头文件 -->
    <script src="js/header.js"></script>
    <!-- 引入页尾文件 -->
    <script src="js/footer.js"></script>
    <!--自己写的js引入文件 -->
    <script src="js/sellRelease.js"></script> 
</body>
</html>
