<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>一路新材</title>   
    <!-- Bootstrap -->
    <link href="../bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <!--你自己的样式文件 -->
    <link href="css/seller_order.css" rel="stylesheet">
    <!-- 分页css引入 -->
    <link rel="stylesheet" href="css/pageCode.css" />
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- 引入页头插件 -->
    <div id="wx-header"></div>
    <div style="height:20px;"></div>
    
    <!-- 主体内容 -->
    <div>
        <div class="container wx-main">
            <div class="row">
                <div class="col-md-12">
                    <p class="wx-p">我的办公室</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 wx-a">
                    <div id="wx-sideBar"></div>            
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-12">
                            <p>我是卖家&#45;订单</p>
                            <hr style="color:red;height:2px;">
                        </div>
                    </div>
                    <!-- 内容 s -->
                    <div style="row">
                    	<div style="col-md-12">
                        	<!-- 表格开始 -->
                                <table class="table table-bordered table-striped table-hover text-center" id="wx-table">
                                    <caption>
                                        <span class="wx-tag">订单信息</span>
                                    </caption>
                                    <thead>
                                        <tr>
                                            <td>id</td>
                                            <td>商品</td>
                                            <td>商品等级</td>
                                            <td>对方公司名称</td>                           
                                            <td>签订日期</td>
                                            <td>订单状态</td>                                          
                                            <td>操作</td>                          
                                        </tr>
                                    </thead>
                                    <tbody id="wx-tbody">                            
                                        <tr>
                                            <td>123456565634</td>
                                            <td>道路石油了沥青</td>
                                            <td>50#A</td>                   
                                            <td>南辰供应链有限公司</td>
                                            <td>2015-5-30&#126;2015-6-31</td>
                                            <td>洽谈中</td>
                                            <td><a class="btn" href="javascript:void(0)" target="__self">洽谈</a></td>
                                        </tr>
                                        <tr>
                                            <td>123456565634</td>
                                            <td>道路石油了沥青</td> 
                                            <td>50#A</td>                  
                                            <td>南辰供应链有限公司</td>
                                            <td>2015-5-30&#126;2015-6-31</td>
                                            <td>洽谈中</td>
                                            <td><a class="btn" href="javascript:void(0)" target="__self">洽谈</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            <!-- 表格结束 -->
                        </div>
                    </div>
                    <!-- 内容e -->
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="wx-page"></div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <!-- 分页 e -->
                </div>
            </div>
        </div>
    </div>
    <!-- 主体内容 -->

    <!-- 查询框end -->
    <div style="height:20px;"></div>
    <!-- 引入页尾插件 -->
    <div id="wx-footer"></div>
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="../js/jquery-2.1.4.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <!-- 分页js引入 -->
    <script src="js/jquery.page.js"></script>
    <!-- 引入头文件 -->
    <script src="../js/header.js"></script>
    <!-- 引入页尾文件 -->
    <script src="../js/footer.js"></script>
    <!-- 引入页尾文件 -->
    <script src="js/side_bar.js"></script>
    <!-- 引入自己文件 -->
    <script src="js/seller_order.js"></script>
    <!-- 百度自动推送 -->
    <script>
    (function(){
        var bp = document.createElement('script');
        bp.src = '//push.zhanzhang.baidu.com/push.js';
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
    </script>
    <!-- 百度站长工具代码 -->
    <meta name="baidu-site-verification" content="hw1iRdWto4" />
    <!-- 站长工具代码 -->
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257353670'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1257353670%26show%3Dpic2' type='text/javascript'%3E%3C/script%3E"));
    </script>
</body>
</html>
