<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>一路新材</title>   
    <!-- Bootstrap -->
    <link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <!--你自己的样式文件 -->
    <link href="css/sellRelease.css" rel="stylesheet"> 
    <!-- 轮动css央视引入结束 -->
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- 头文件引入 -->
    <div id="wx-header"></div>
    <!-- 头文件引入结束 -->
    <!-- 标签s -->
    <div style="margin-top:30px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="padding-left:0px;">
                    <span class="wx-tag">我要卖》发布供应</span>
                </div>
            </div>
        </div>
    </div>
    <!-- 标签e -->
    <!-- 提醒 s-->
    <div style="margin-top:20px;">
      <div class="container" style="background:#f3f3f3;">
        <div class="col-md-12">
          <p class="wx-warning text-center text-warning">
            发布需求中带<span>*</span>部分为必填&#33;
            &#40;其中<span>商品品牌</span>和<span>自增品牌</span>必须<span>2选1</span>&#41;
          </p>
        </div>
      </div>
    </div>
    <!-- 提醒 e-->
    <!--查询框s  -->
    <div style="margin-top:10px;">
      <form class="form-horizontal">
        <div class="container" style="background:#f3f3f3;padding-top:30px;padding-bottom:30px;">
          <!-- s -->
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label for="wx-kind" class="col-sm-4 control-label">
                  <span style="color:red;">*</span>商品种类&#58;
                </label>
                <div class="col-sm-8">
                  <select class="form-control" id="wx-kind" autocomplete="off">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-1">
              
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label for="wx-type" class="col-sm-4 control-label">
                  <span style="color:red;">*</span>商品小类&#58;
                </label>
                <div class="col-sm-8">
                  <select class="form-control" id="wx-type" autocomplete="off">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
          <!-- e -->
          <!-- s -->
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label for="wx-grade" class="col-sm-4 control-label">
                  <span style="color:red;">*</span>型号等级&#58;
                </label>
                <div class="col-sm-8">
                  <select class="form-control" id="wx-grade" autocomplete="off">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <div class="form-group">
                <label for="wx-brand" class="col-sm-4 control-label">
                  <span style="color:red;">*</span>商品品牌&#58;
                </label>
                <div class="col-sm-8">
                  <select class="form-control" id="wx-brand" autocomplete="off">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
              <div class="form-group" style="display:none;">
                <label for="wx-selfBrand" class="col-sm-4 control-label">
                  <span style="color:red;">*</span>自增品牌&#58;
                </label>
                <div class="col-sm-8">               
                  <input type="text" class="form-control" id="wx-selfBrand" 
                  placeholder="请输入需求量" autocomplete="off">
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
          <!-- e -->
          <!-- s -->
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label for="wx-packing" class="col-sm-4 control-label">
                  <span style="color:red;">*</span>包装方式&#58;
                </label>
                <div class="col-sm-8">
                  <select class="form-control" id="wx-packing" autocomplete="off">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <div class="form-group">
                <label for="wx-pay" class="col-sm-4 control-label">
                  <span style="color:red;">*</span>付款方式&#58;
                </label>
                <div class="col-sm-8">
                  <select class="form-control" id="wx-pay" autocomplete="off">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
          <!-- e -->
          <!-- s -->
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label for="wx-bargain" class="col-sm-4 control-label">
                  <span style="color:red;">*</span>议价形式&#58;
                </label>
                <div class="col-sm-8">
                  <select class="form-control" id="wx-bargain" autocomplete="off">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <div class="form-group">
                <label for="wx-goods" class="col-sm-4 control-label">
                  <span style="color:red;">*</span>交货方式&#58;
                </label>
                <div class="col-sm-8">
                  <select class="form-control" id="wx-goods" autocomplete="off">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
          <!-- e -->
          <!-- s -->
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label for="wx-unit" class="col-sm-4 control-label">
                  <span style="color:red;">*</span>单位&#58;
                </label>
                <div class="col-sm-8">
                  <select class="form-control" id="wx-unit" autocomplete="off">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <div class="form-group">
                <label for="wx-price" class="col-sm-4 control-label">
                  <span style="color:red;">*</span>单价&#58;
                </label>
                <div class="col-sm-8">               
                  <input type="text" class="form-control" id="wx-price" 
                  placeholder="请输入单位" autocomplete="off">
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
          <!-- e -->
          <!-- s -->
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label for="wx-stock" class="col-sm-4 control-label">
                  <span style="color:red;">*</span>库存量&#58;
                </label>
                <div class="col-sm-8">               
                  <input type="text" class="form-control" id="wx-stock" 
                  placeholder="请输入需求量" autocomplete="off">
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <div class="form-group">
                <label for="wx-min-requirement" class="col-sm-4 control-label">
                  <span style="color:red;">*</span>最低成交量&#58;
                </label>
                <div class="col-sm-8">               
                  <input type="text" class="form-control" id="wx-min-requirement" 
                  placeholder="请输入最低成交量" autocomplete="off">                
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
          <!-- e -->
          <hr style="background-color:#a4a4a4;height:1px;">
          <!-- s -->
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label for="wx-province" class="col-sm-4 control-label">
                  <span style="color:red;">*</span>提货地点&#58;
                </label>
                <div class="col-sm-4">
                  <select class="form-control" id="wx-province" autocomplete="off">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>              
                </div>
                <div class="col-sm-4">               
                 <select class="form-control" id="wx-city" autocomplete="off">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>   
                </div>
              </div>            
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <div class="form-group">
                <label for="wx-address" class="col-sm-4 control-label">
                  <span style="color:red;">*</span>详细地址&#58;
                </label>
                <div class="col-sm-8">               
                  <input type="text" class="form-control" id="wx-address" 
                  placeholder="请输入最低成交量" autocomplete="off">                
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
          <!-- e -->
          <!-- s -->
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label for="wx-startTime1" class="col-sm-4 control-label">
                  <span style="color:red;">*</span>交货时间&#58;
                </label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="wx-startTime1" 
                  placeholder="交货开始日期" autocomplete="off">   
                </div>
                <div class="col-sm-4">               
                 <input type="text" class="form-control" id="wx-endTime1" 
                  placeholder="交货截止日期" autocomplete="off">   
                </div>              
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <!-- 运输方式 s-->
              <div class="form-group">
                <label for="wx-Transport" class="col-sm-4 control-label">
                  <span style="color:red;">*</span>运输方式&#58;
                </label>
                <div class="col-sm-8">
                  <select class="form-control" id="wx-Transport" autocomplete="off">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
              <!-- 运输方式 e-->
            </div>
            <div class="col-md-1"></div>
          </div>
          <!-- e -->
         <!-- s -->
         <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label for="wx-startTime" class="col-sm-4 control-label">
                  <span style="color:red;">*</span>挂单有效期&#58;
                </label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="wx-startTime" 
                  placeholder="挂单开始日期" autocomplete="off">   
                </div>
                <div class="col-sm-4">               
                 <input type="text" class="form-control" id="wx-endTime" 
                  placeholder="挂单截止日期" autocomplete="off">   
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <!-- 商品标准 s -->
              <div class="form-group">
                <label for="wx-unit" class="col-sm-4 control-label">
                  <span style="color:red;">*</span>商品标准&#58;
                </label>
                <div class="col-sm-8">
                  <select class="form-control" id="wx-unit" autocomplete="off">
                    <option>标准型</option>
                    <option>加强型</option>
                  </select>
                </div>
              </div>
              <!-- 商品标准 e -->
              <!-- 当选择商品加强型的时候，才会出现-->
              <div class="form-group" style="display:none;">
                <label for="wx-strengthen" class="col-sm-4 control-label">
                  <span style="color:red;">*</span>技术指标&#58;
                </label>
                <div class="col-sm-8">               
                  <input type="file"  id="wx-strengthen" 
                  placeholder="请输入最低成交量" autocomplete="off" accept="image/jpeg">                
                </div>
              </div>
              <!-- 加强型结束 -->
            </div>
            <div class="col-md-1"></div>
         </div>
         <!-- e -->
          <!-- s -->
          <div class="row">
            <div class="col-md-5"> 
              <div class="form-group">
                <label for="wx-remark" class="col-sm-4 control-label">备注&#58;
                </label>
                <div class="col-sm-8">               
                  <textarea class="form-control" rows="6" placeholder="备注" 
                  autocomplete="off" id="wx-remark"></textarea>
                </div>
              </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
              <div id="wx-standard-pic" style=""></div>
            </div>
            <div class="col-md-1"></div>
          </div>
          <!-- e -->
          <div class="row" style="margin-top:20px;">
            <div class="col-md-5"></div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary">确认发布</button>
            </div>
            <div class="col-md-5"></div>
          </div>
        </div>
      </form>
    </div>
    <!--查询框e -->

    <!-- 尾部文件引入start -->
    <div id="wx-footer" style="margin-top:40px;"></div>
    <!-- 尾部文件引入结束 -->
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="js/jquery-2.1.4.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <!-- 引入头文件 -->
    <script src="js/header.js"></script>
    <!-- 引入页尾文件 -->
    <script src="js/footer.js"></script>
    <!--自己写的js引入文件 -->
    <script src="js/sellRelease.js"></script> 
</body>
</html>
