.wx-p{
	border-left: 2px solid black;
	padding-left: 10px;
	font-size: 16px;
	font-family: Helvetica,​sans-serif;
}

.wx-table td{
	text-align: center;
}
/*
.wx-table tbody tr td:nth-child(odd){
	background: #0044ff;
	color: white;	
}
*/

/*设置参数表样式*/
.wx-parameter{
	border: 1px solid #747474;
	background: #d9d9d9;
}

.wx-parameter .row .form-group{
	border: 1px solid #00ddaa;
}
