.wx-p{
	font-size: 18px;
	font-weight: 700!important;
}

.wx-underline{
	text-decoration: underline;
	font-size: 16px;
}

.wx-blod{
	font-weight: bold;
}

.kuang{
	float:left;
	/*border: 1px solid black;*/
	margin-left: 5px;
	height: 295px;
	width: 500px;
}