@charset "utf-8";
/* CSS Document */
#wx-table thead tr{
	background: #1896ca;
}

#wx-table tbody tr a{
	border: 1px solid red;
	border-radius: 30px;
}

#wx-table tbody tr a:hover{
	background:red;
	color: white;
}

.wx-caption{
	font-family:Microsoft JhengHei,SimSun,KaiTi,FangSong,Microsoft YaHei;
	font-size: 14px;
	font-weight: 600;
	padding-left: 5px;
	height: 10px;
	border-left: 2px solid black;	
}

.wx-tr{
	background: #AFEEEE!important;
}

.wx-money{
	color: red;
}

#wx-data1{
	height: 250px;
}

#wx-data2{
	height: 250px;
}

.wx-picData{
	background: #efefef;
}
