
body span,p,a{
	font-family: Courier, "Courier New", monospace ;
	font-size: 16px;	
}

.wx-tag{
	border-left: 2px solid black;
	padding-left: 8px;	
}

.wx-p{
	line-height: 40px;
}

/*数据表格*/
#wx-table tr td:nth-child(1){
	display: none;
}

#wx-table thead tr{
	background: #1896ca;
}

#wx-table tbody tr a{
	border: 1px solid red;
	border-radius: 30px;
}

#wx-table tbody tr a:hover{
	background:red;
	color: white;
}


/*表格信息*/
.wx-caption{
	font-family:Microsoft JhengHei,SimSun,KaiTi,FangSong,Microsoft YaHei;
	font-size: 14px;
	font-weight: 600;
	padding-left: 5px;
	height: 10px;
	border-left: 2px solid black;	
}

.wx-tr{
	background: #AFEEEE!important;
}

.wx-money{
	color: red;
}



